
 .hello{
    position: absolute;
   top: 50px;
   left: 100px;
    margin-top: 230px;
    margin-left: 900px;
    width: 350px;
    height: 450px;
    cursor: pointer;
 }  
.login
{
    width: 400px;
    height: 500px;
    overflow: hidden;
    padding: 35px;
    background-color: rgb(189, 197, 204);
    border-radius: 25px ;
    /* position: absolute; */
    font-family: 'Times New Roman', Times, serif;
}
#Uname
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}
#Pass
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
}
#log:hover
{
    cursor: pointer;
}
span
{
    color: black;
    font-size: 17px;
}
.user
{
    text-align: center;
}
/* .fa
{
    position: absolute;
    margin-top: 105px;
    margin-left: 750px;
    width: 350px;
    height: 450px;
} */
.falogin
{
    width: 400px;
    height: 480px;
    overflow: hidden;
    padding: 35px;
    background-color: rgb(91, 159, 218);
    border-radius: 25px ;
    /* position: absolute; */
    font-family: 'Times New Roman', Times, serif;
}
#faUname
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#faPass
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#falog
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
    cursor: pointer;
}
span
{
    color: black;
    font-size: 17px;
}
.user
{
    text-align: center;
}
.hidden
{
    display: none;
}
.stud,.faculty
{
    cursor: pointer;
}