.hello
{
    position: absolute;
    top: 50px;
    left: 100px;
    margin-top: 100px;
    margin-left: 800px;
    width: 150px;
    height: 150px;
    /* cursor: pointer; */
    font-family: 'Times New Roman', Times, serif ;
    font-size: 25px;
 }
 .hi
 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
 }
.login
{
    width: 400px;
    height: 550px;
    overflow: hidden;
    padding: 35px;
    background-color: aliceblue;
    border-radius: 25px ;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
#Uname
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}
#Pass
{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log
{
    width: 300px;
    /* height: 30px; */
    border: 1px solid black;
    border-radius: 17px;
    /* padding-left: 7px; */
    color: black;
}
#log:hover
{
    cursor: pointer;
    background-color: aliceblue;
}
span
{
    color: black;
    font-size: 17px;
}
.user
{
    text-align: center;
}
.hidden
{
    display: none;
}
.stud,.faculty
{
    cursor: pointer;
}